* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  background: rgba(249, 249, 249, 0.653);
  height: 100vh;
  width: 100vw;
}


nav {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  background: black;
  color: white;
  width: 100px;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  padding: 5%;
  text-align: center;
}

.nav {
  height: 50%;
}

.bottom-nav ul {
  position: fixed;
  bottom: 0;
  width: 100px;
}

.container {
  width: 80%;
  margin-left: 100px;
}

.accordion__button {
  background-color: #1A6DFF !important;
  color: white !important;
}

.accordion__item {
  min-width: 200px !important;
  margin-right: 5%;
}

.project-accordion {
  padding-top: 10%;
}

.project-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.accordion__panel {
  background-color: rgba(110, 176, 211, 0.091);
}

.proj-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proj-user-comment {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.short-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5%;
}

.proj-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  padding: 2%;
}

.proj-latest {
  margin-top: 5%;
}

.proj-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .accordion__item {
    min-width: 200px !important;
    margin-right: 20%;
  }

  .container {
    width: 80%;
    margin: 10% auto;
  }
}

